<footer>
  <div class="container">
    <h3>Mmory Track</h3>
    <div class="footer-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Sign Up</a>
    </div>
    <div class="copyright">
      © 2025 Recall - All Rights Reserved
    </div>
  </div>
</footer>