<div class="hero">
  <h1 style="color: #449328e9;">Welcome to Memory Track</h1>
  <p style="color: #449328e9;">A simple application to manage and keep memories</p>
  <% if (locals.currentUser) { %>
    <a href="/user/<%= currentUser.id %>" class="btn btn-accent"> Profile</a>
<% } else { %> 
  <a href="/auth/signup" class="btn btn-accent">Get Started</a>
<% } %>
</div>